<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.pizzaria.pizzaria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sistema"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".telas.B_TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".telas.C_TelaCategoria" />
        <activity android:name=".telas.D_TelaProdutos" />
        <activity android:name=".telas.E_TelaItem" />
        <activity android:name=".telas.G_TelaCarrinho" />
        <activity android:name=".telas.H_TelaCarrinhoRecycle"></activity>
    </application>

</manifest>